{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-start align-items-center" style="height: 80vh;">
    <h1>Posts</h1>
    {% for post in posts %}
    <article class="post mb-4" style="max-width: 800px; width: 100%;">
        <h2>
            <a href="{% url 'posts:page'  slug=post.slug %}">
            {{ post.title }}
            </a>
        </h2>
        <p>{{ post.date }} by {{ post.author }}</p>
        <p>{{ post.body }}</p>
    </article>
    {% endfor %}
</section>
{% endblock %}
